.App {
  text-align: center;
}
#Card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#header {
  margin-bottom: 10px;
}
#footer {
  margin-top: 40px;
  width: 100%;
  bottom: 0px;
  padding: 20px 0px;
  height: 65px;
  color: white;
  background-color: #212519;
}

#carouselImg {
  height: 500px;
}
