.App {
  text-align: center;
}
#Card-container{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#footer{
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 20px 0px;
  height: 65px;
  color: white;
  background-color: midnightblue;
}