.App {
  text-align: center;
}
#Card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#header {
  margin-bottom: 10px;
}
#footer {
  margin-top: 40px;
  width: 100%;
  bottom: 0px;
  padding: 20px 0px;
  height: 65px;
  color: white;
  background-color: #212519;
}

#carouselImg {
  height: 500px;
}
.link {
  text-decoration: none;
  color: whitesmoke;
}

#userDetailForm {
  width: 70%;
  margin: 2.5% auto;
  border: 1px solid rgb(105, 103, 103);
  border-radius: 5px;
  padding: 20px 150px;
  background-color: rgb(252, 244, 235);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.headerButton {
  width: 15vh;
  text-decoration: none;
  color: green;
}
 .productCard{
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 3vh;
 }

 .cardBody{
  display: flex;
   flex-direction: column;
    justify-content: center;
     align-items: center
 }

#thanksLayout{
  text-align: center;
  display: flex;
  width: 100vw;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(252, 244, 235);
  justify-content: center;
  align-items: center;
}

.sidebarItem{
  border-bottom: 1px solid white;
  padding: 20px 0px;
}